@import url('https://fonts.googleapis.com/css2?family=Stalinist+One&display=swap');
@import "tailwindcss";

#root{
  background-color: #171717;
  color: white;
}

.font-title {
  font-family: "Stalinist One", 'Courier New', Courier, monospace;
}

.bg-primary{
  background-color: #171717;
}

