@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stalinist+One&family=Tektur:wght@400..900&display=swap');
@import "tailwindcss";

#root{
  background-color: #171717;
  color: white;
}

.font-title {
  font-family: "Stalinist One", 'Courier New', Courier, monospace;
}

.font-tektur{
  font-family: 'Tektur', 'Arial';
}

.bg-primary{
  background-color: #171717;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 50px;
  margin: 12px 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #FFA500;
  border-radius: 50px;
}
