@import url('https://fonts.googleapis.com/css2?family=Stalinist+One&display=swap');
@import "tailwindcss";

#root{
  background-color: #171717;
  color: white;
}

.font-title {
  font-family: "Stalinist One", 'Courier New', Courier, monospace;
}

.bg-primary{
  background-color: #171717;
}

@keyframes bounce-horizontal {
  0%, 100% { transform: translateX(0); }
  50% { transform: translateX(10px); }
}

@keyframes bounce-horizontal-reverse {
  0%, 100% { transform: translateX(0); }
  50% { transform: translateX(-10px); }
}

.animate-bounce-horizontal {
  animation: bounce-horizontal 1s ease-in-out infinite;
}

.animate-bounce-horizontal-reverse {
  animation: bounce-horizontal-reverse 1s ease-in-out infinite;
}